.columns {
    display: grid;
    gap: 1rem;
    padding: 3rem;
}

@media (min-width: 50em) {
    .columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
}


@media (max-width: 50em) {
  .columns {
    grid-template-areas: "logo logo"
    "nav contact";
    padding: 3rem;
  }

  .footer-logo {
    grid-area: logo;
    text-align: center;
  }

  .footer-nav {
    grid-area: nav;
  }

  .contact {
    grid-area: contact;
  }
}